.progress-wrap {
    width: 100px;
    height: 100px;
    position: relative;
  }
  
  .progress-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(-90deg);
  }
  
  .progress-circle circle {
    fill: transparent;
    stroke: #613228; /* Set the color of the progress bar */
    stroke-width: 3; /* Set the width of the progress bar */
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s;
  }
  