nav.navbarcss {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 100;
  background: white;
}

.logoImg {
  height: 70px;
  margin-left: 10px;
}
.usernamecss {
  margin-right: 30px;
}
.logoutbtncss {
  padding: 5px 10px;
  margin-right: 20px;
}
