.categories{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border: 1px solid red;
    width: 80%;
    gap: 100px;
    background-color: #fcfdff;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e2e8f0;
    margin: auto;
}
.catdiv img{
    width: 76px;
    height: 75px;
    margin-left: 50px;
}
.catdiv a{
    text-decoration: none;
}
.catdiv h3{
    text-align: center;
    text-decoration: none;
    color: #414A4D;
    font-size: 20px;
    padding-top: 20px;
}


/* responsive */

/* Media query for size below 768px */
@media (max-width: 768px) {
    .categories {
      grid-template-columns: repeat(3, 1fr); 
      gap: 50px; 
      width: 90%; 
    }
  }
  
  /* Media query for mobile-sized screens*/
  @media (max-width: 480px) {
    .categories {
      grid-template-columns: repeat(2, 1fr); 
      gap: 30px; 
      width: 90%; 
    }
  
    .catdiv img {
      width: 50px; 
      height: 50px;
    }
  
    .catdiv h3 {
      font-size: 16px;
    }
  }