.clientsignup{
    height:auto;
    width: 440px;
    background-color: rgb(224, 243, 253);
    padding-bottom:20px; 
    margin-left:auto; 
    margin-right:auto;  
    padding-left:10px; 
    margin-top:100px;
    padding-top:20px;
}
.clientform{
    display: flex;
    margin: 0;
    flex-direction: column;
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: -1px;
}

.clientform input{
    margin: auto;
    width: 300px;
    padding: 10px 5px;
    margin-top: 10px;
   background-color: #fff;
   border: 1px solid transparent;
   font-size: 16px;
   
}
  .Clientform input:focus {
    outline: none;
    border: 1px solid blue;
  }

  #submitformbtn {
    margin: auto;
    width: 311px;
    border: 0;
    outline: 0;
    margin-top: 25px;
    color: white;
    background-color:#121111;
    border-radius: 4px;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: capitalize;
    font-size: 16px;
    padding: 11px 0;
  }

  #submitformbtn:hover {
    background-color: #2f2d2d;
    cursor: pointer;
  }
